.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding-top: 1px;


}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 20px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin-left: 20px;


}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    margin-left: 25%;

    align-items: center;
    margin-right: 200px;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;


}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 10px;

}
.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;


}

